
.parallaxWrapper {
    position: relative;
    width: 100%;
}

.parallaxContainer {
    position: relative; 
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.imageWrapper {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    bottom: -80px;
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.438);
    box-shadow: inset 0px 40px 80px -16px rgba(50, 50, 93, 0.25),
                inset 0px 24px 48px -24px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


.parallaxContent {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: var(--font-secondary);
    font-weight: 400;
    text-align: center;
    color: #FBF2EB;
    text-shadow: 0px 17.3333px 40px rgba(0, 0, 0, 0.1);
    z-index: 2;  
}

.parTextH1 {
    font-size: 26px;
    line-height: 104.6%;
}

.descriptionMobile,
.description {
    width: 65%;
    font-size: 14px;
    line-height: 104.6%;
    font-family: var(--font-primary);
}

.description{
    display: none;
}

@media (min-width: 800px){
    .parallaxContainer { height: 700px; }
    .description { font-size: 18px;  display: inline;}
    .descriptionMobile{display: none;}
    .parTextH1 { font-size: 36px; }
}


@media (min-width: 1000px) {
    

}

@media (min-width: 1280px) {
    .parallaxContainer { height: 800px; }
    .parTextH1 { font-size: 45px; }
    .description { font-size: 24px; }
}