/*PARALLAX*/
.motionContainer{
    width: 100%;
    position: relative;
    
}

.parallaxContainer {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}

.parallaxImage{
    position: absolute;
    width: 100%;
    height: 130%;
    top: -15%;
    left: 0;    
    
}
.overlay{
    position: absolute;
    width: 100%;
    inset: 0;
    background: rgba(0, 0, 0, 0.438);
    box-shadow: inset 0px 40px 80px -16px rgba(50, 50, 93, 0.25), inset 0px 24px 48px -24px rgba(0, 0, 0, 0.3);
}


/*PARALLAX contente*/
.parallaxContent{
    position:absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: white;

    font-family: 'Judson';
    font-weight: 400;
    
    text-align: center;
    color: #FBF2EB;
    text-shadow: 0px 286.667px 114.667px rgba(0, 0, 0, 0.01), 0px 161.333px 97.3333px rgba(0, 0, 0, 0.05), 0px 72px 72px rgba(0, 0, 0, 0.09), 0px 17.3333px 40px rgba(0, 0, 0, 0.1);
}

.parTextH1{
    font-size: 26px;
    line-height: 104.6%;
}

.parTextSubText{
    width: 65%;
    font-size: 14px;
    line-height: 104.6%;
}




@media (min-width: 1000px) {
    .parallaxContainer{
        height: 600px;
    }

    .parTextH1{
        font-size: 36px;
    }

    .parTextSubText{
        width: 65%;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .parallaxContainer{
        height: 800px;
    }

    .parTextH1{
        font-size: 45px;
    }

    .parTextSubText{
        width: 65%;
        font-size: 24px;
    }
}